//==========Contact section style start here==========// 
.contact{
    padding: 150px 0;
    &-title{
        margin-bottom: 17px;
        h2{
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 55px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #252B42;
        }
    }
    &-discription{
        margin: auto;
        margin-bottom: 60px;
        max-width: 555px;
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #374754;
        }
    }
    &-form{
        width: 100%;
        height: 100%;
        &-wrapper{
            border: 1px solid #DDDDDD;
            padding: 50px;
            margin: 0 70px;
            border-radius: 20px;
            h4{
                margin-bottom: 45px;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.1px;
                color: #252B42;
                text-align: center;
            }
            input{
                display: block;
                width: 100%;
                margin-bottom: 45px;
                background-color: #F4F4F4;
                border: 1px solid #E8E8E8;
                padding: 15px 20px;
                outline: none;
                border-radius: 39px;
                font-size: 15px;
                font-weight: 400;
            }
            textarea{
                display: block;
                width: 100%;
                min-height: 180px;
                margin-bottom: 45px;
                background-color: #F4F4F4;
                border: 1px solid #E8E8E8;
                padding: 15px 20px;
                outline: none;
                font-size: 15px;
                font-weight: 400;
            }
            input[type=submit]{
                display: inline;
                background-color: #2091F9;
                color: #ffffff;
                width: 145px;
                font-size: 20px;
            }
        }
    }
    &-address{
        &-nav{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            &-location{
                max-width: 300px;
                text-align: center;
                img{}
                p{}
            }
            &-mobile{
                max-width: 300px;
                text-align: center;
                img{}
                p{}
            }
            &-mail{
                max-width: 300px;
                text-align: center;
                img{}
                p{}
            }
        }
        &-map{
            width: 100%;
            min-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            iframe{
                
            }
        }
        &-icon{

            ul{
                padding: 0;
                margin: 0;
                max-height: 100px;
                display: flex;
                gap: 30px;
                li{
                    list-style-type: none;
                }
            }
        }
    }
}

.gm-style .place-card-large {
    padding: 9px 4px 9px 11px;
    display: none;
}

//==========Contact section style end here==========//