//==========Footer section style start here==========//
.footer{
    padding:150px 0;
    background-color: #252B42;
    ul{
        flex-direction: column;
        text-align: left;
        align-items: stretch;
        li{
            list-style-type: none;
            a{
                color: #ffffff;
                text-decoration: none;
                // font-family: 'Graphik';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                letter-spacing: 0.2px;
            }
            &:first-child{
                margin-bottom: 10px;
                a{
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }
    &-location{
        p{
            color: #ffffff;
            span{ margin-right: 15px;}
        }
        ul{
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            margin-top: 30px;
            li{
                img{}
            }
        }
    }
}
//==========Footer section style End here==========//