//==========Nav section style start here==========// 
.nav-section{
    height: 165px;
    &-wrapper{
        height: 165px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-bar{
            ul{
                display: flex;
                gap: 20px;
                margin: 0;
                padding: 0;
                li{
                    list-style-type: none;
                    cursor: pointer;
                    a{
                        color: #fff;
                        text-decoration: none;
                        transition: all 300ms linear;
                        &:hover{
                            color: #E637B8;
                        }
                    }
                }
            }
        }
        &-logo{}
        &-icon{
            ul{
                display: flex;
                gap: 20px;
                margin: 0;
                padding: 0;
                li{
                    list-style-type: none;
                }
            }
        }
        &-toggler{
            display: none;
            img{
                
            }
        }
    }
}
//==========Nav section style end here==========// 