//==========Pricing section style start here==========//
.pricing{
    padding: 100px 0;
    padding-top: 126px;
    background-color: #252B42;
    &-title{
        margin-bottom: 20px;
        h2{
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 55px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #FFFFFF;
        }
    }
    &-discription{
        max-width: 545px;
        margin: 0 auto;
        margin-bottom: 80px;
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #FFFFFF;
        }
    }
    &-card{
        background-color: #fff;
        padding: 40px;
        min-height: 600px;
        margin: 25px;
        border-radius: 10px;
        &-head{
            &-title{
                p{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.1px;
                    color: #252B42;
                    margin-bottom: 3px;
                    text-transform: uppercase;
                    display: block;
                    text-align: center;
                }
            }
            &-dis{
                max-width: 150px;
                margin: 0 auto;
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.1px;
                    color: #374754;
                }
            }
        }
        &-price{
            display: flex;
            align-items: center;
            justify-content: center;
            &-left{
                p{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 74px;
                    letter-spacing: 0.2px;
                    color: #252B42;
                    margin-right: 20px;
                }
            }
            &-right{
                h6{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    letter-spacing: 0.1px;
                    color: #252B42;
                    padding: 0;
                    margin: 0;
                }
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    letter-spacing: 0.1px;
                    color: #374754;
                    padding: 0;
                    margin: 0;;
                }
            }
        }
        &-list{
            display: block;
            overflow: hidden;
            min-height: 280px;
            ul{
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                li{
                    list-style-type: none;

                    a{
                    }
                }
            }
        }
        &-button{
            display: block;
            text-align: center;
            a{
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 0.2px;
                background-color: #2091F9;
                text-decoration: none;
                padding: 15px 78px;
                border-radius: 35px;
                color: #FFFFFF;
            }
        }
        // &:hover {
        //     background-color: #2091F9;
        //     color: #fff;
        //     &-head{
        //         &-title{
        //             p{
        //                 color: #fff !important ;
        //             }
        //         }
        //         &-dis{
        //             p{

        //             }
        //         }
        //     }
        //     &-price{
        //         display: none;
        //         &-left{
        //             p{

        //             }
        //         }
        //         &-right{
        //             h6{

        //             }
        //             p{

        //             }
        //         }
        //     }
        //     &-list{

        //         ul{

        //             li{

        //                 a{

        //                 }
        //             }
        //         }
        //     }
        //     &-button{

        //         a{

        //         }
        //     }
        // }
    }
}
//==========Pricing section style end here==========// 