//==========Testimonial section start here==========// 
.testimonial{
    padding: 75px 0;
    text-align: center;
    &-wrapper{
        &-title{
            margin-bottom: 75px;
            h1{
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 55px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #252B42;
            }
        }
        &-image{
            margin-bottom: 60px;
            img{}
        }
        &-comment{
            margin-bottom: 60px;
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #374754;
            }
        }
        &-person{
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
            &-image{
                margin-right: 20px;
            }
            &-content{
                &-name{
                    p{
                        margin: 0;
                        margin-bottom: 3px;
                        padding: 0;
                        float: left;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 23px;
                        letter-spacing: 0.1px;
                        color: #374754;

                    }
                }
                &-profation{
                    p{
                        padding: 0;
                        margin: 0;
                        float: left;
                    }
                }
            }
        }
        &-button{
            a{
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.1px;
                color: #FFFFFF;
                background-color: #2091F9;
                padding: 17px 51px;
                text-decoration: none;
                border-radius: 35px;
            }
        }
    }
}
//==========Testimonial section end here==========// 