@use "sections/navbar";
@use "sections/hero";
@use "sections/features";
@use "sections/organize";
@use "sections/prototyping";
@use "sections/testimonial";
@use "sections/pricing";
@use "sections/contact";
@use "sections/footer";